/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    border: 0;
    padding: 0;
    margin: 0;
}

 body {
    background-color: 	#f2f3f4;
    font-family: 'Carter One', cursive;
    margin: 0px;
    padding: 0px;
}


.recipeCard {
    height: 220px;
    width: 455px;
    margin: 5px 125px;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    background-color: white;
    border: 0.5px solid #969695;
}

.recipeCard:hover {
    transform: scale(1.1);
    transition: .25s;
}




.boxes {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 20px 334px;
}


#recipeShow {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 55px;
    background-color: #F2F3F4;
    height: 800px;
    overflow-y: scroll;
}

#header {
    background-color: black;
    display: flex;
    flex-direction: row;
}

#nameBox {
    height: 50px;
    width: 250px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userLog {
    display: flex;
    align-items: flex-end;
}


.navBox {
    height: 50px;
    width: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

#logOutBox {
    height: 50px;
    width: 150px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

#logOutBox.hover {
    transition: .40s;
}
.navBox:hover {
    background-color: black;
    color: white;
    transition: .40s;
}

#myRecipes {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 40px;
    padding: 55px;
    
}

#myRecipeBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    
}

#line {
    width: 440px;
    border: 1px solid #C86763;
}

.cardLinks {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transform: scale(1.15);
    transition: .35s;
    color: red;
}

.button {
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button:hover {
    color: black;
    background-color: white;
    transition: .35s;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.showLine {
    background-color: black;
    height: 1px;
}

#titlePic {
    height: 925px;
    width: 100%; 
}


#eatMe {
    color: white;
    width: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidePic {
    height: 100%;
}

.title {
    color: black;
    font-size: 65px;
}

.imgCol {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

.sidePic {
    width: 520px;
    height: 315px;
}

#editRecipe {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 55px;;
}

.recipeList {
    height: 895px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#knife {
    height: 940px;
    width: 250px;
}

#loginForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 55px;
}

#recipeForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 55px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}


img.like-unlike {
    height: 35px;
    width: auto;
}

input {
    height: 25px;
    width: 225px;
    font-size: 13px;
}

input:hover {
    border: 0.5px solid black;
}

.click {
    height: 30px;
    background-color: black;
}
textarea {
    height: 30px;
    width: 500px;
}

#commentBox {
    background-color: white;
    padding: 15px;
    margin: 0 auto;
}

.smallText {
    font-size: 12px;
}

button {
    height: 20px;
    width: 120px;
    margin: 5px;
    background-color: lightgray;
    color: black;
    font-size: 15px;
    border: 0.4px solid black;

}

#back {
    display: flex;
    justify-content: center;
}










  

